body{
    background-color: rgb(230, 255, 204); 

  }
.container{
  background-image: url(bacteria.jpg);
  /* background-size: cover; */
  /* display:inline-block; */
}
.col-md-2{
  color: #84c547;
  background-color:rgb(132, 93, 187);
}
.col-md-12{
  background-color: rgb(132, 93, 187);

}
/* h1{
    color: #559cc5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
  }
p{
    color: #559cc5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; 
    }
h5{
  color: #559cc5;
  font-family: Arial Bold, Helvetica, sans-serif;
  font-size: 17px; 
  }
h3{
  color: #559cc5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px; 
} */