body{
    background-color: rgb(230, 255, 204); 

  }
.container{
  background-image: url(bacteria.jpg);
  
}
.col-md-2{
  color: #84c547;
  background-color:rgb(132, 93, 187);
}
.col-md-12{
  background-color: rgb(132, 93, 187);

}
.well{
  border-color: rgb(132, 93, 187);
  background-color: rgba(132, 93, 187,1);

}
.panel-primary {
  border-color: rgb(132, 93, 187);
  background-color: rgba(132, 93, 187,1);
}
.panel-title{
  color: rgb(230, 255, 204);
  /* background-color: rgb(132, 93, 187); */
};
.panel-heading {
  background-color: rgb(132, 93, 187);
  border-color: rgb(132, 93, 187);
  border-bottom-color: rgb(132, 93, 187)
}